# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Data (Optional - Keep this commented if you want to track data, or uncomment to exclude)
# data/
# outputs/
